body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    text-align: center;}
h1{ 
    font-size: 30px;
}

#cabecera {
    background-color: white;
    color: black;
    border: 1px black solid;
}
footer{ background-color: aqua;
font-size:20px;
}